@model List<GuitarFilter.Models.FNameViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        @if (ViewBag.totalProduct != ViewBag.countProduct)
        {
            <a class="btn btn-primary btn-block" href="@Url.Action("Index", "Home")">скасувати фільтр</a>
        }
        <h2>@ViewBag.FLabel</h2>
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            int i = 0;
            foreach (var fname in Model)
            {
                <ul>
                    @fname.Name
                    @foreach (var fvalue in fname.Children)
                    {
                        i++;
                        var id = $"f{i}";
                        <li>
                            <div class="checkbox checkbox-success checkbox-sm">
                                <input type="checkbox" class="styled" value="@fvalue.Id" name="idvalues" id="@id" />
                                <label for="@id">
                                    <span style="font-size:14pt; position: absolute; margin-top:-10px;">@fvalue.Name</span>
                                </label>
                            </div>
                        </li>
                    }
                </ul>
            }
            <button type="submit" class="btn btn-success form-control" id="submit">застосувати фільтр</button>
            <p></p>
        }
        <button id="filter" class="btn btn-info form-control">фільтр без оновлення</button>
    </div>
    <div class="col-md-8" id="content">
        
        @if (ViewBag.totalProduct != ViewBag.countProduct)
        {
            <h4>всього знайдено товарів: @ViewBag.countProduct</h4>
        }

        @Html.Partial("_ProductView", ViewData["listProduct"])

    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@

    @section Scripts{
        <script>
            $(function () {
                    alert("end js");
                $(".styled").on("click", function () {
                    if (this.checked == false) {
                        alert("de-click");
                    } else {
                        alert("click");
                        $("#content").load('@Html.Partial("_ProductView", ViewData["listProduct"])');
                    }
                })
                let list=@Html.Raw(Json.Encode(ViewData["listProduct"]));
                for (let i = 0; i < list.length; i++) {
                    alert(i);
                    alert(list[i].Id + ':' + list[i].Name + ':' + list[i].Price);
                }


                $("#filter").on("click", function () {
                    let listIdCheck = $(":checked");
                    alert(listIdCheck.length);
                
                    let idval = ["1","8"];

                    for (let i = 0; i < listIdCheck.length; i++) {
                        let node = {
                            id: listIdCheck[i].getAttribute("value"),
                            name: listIdCheck[i].parentNode.lastElementChild.lastElementChild.textContent
                        }
                        alert(node.id);
                        alert(node.name);
                        idval.push(node);
                    }
                    alert(idval);
                    //idval.toList();

                    $.post("/Home/FilterProduct", idval, function (data) {
                            alert(data);
                    });

                    alert(listIdCheck.length);
                    location.reload();
                });
            })
        </script>
        }
</div>