@model List<GuitarFilter.Models.FNameViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.FLabel</h2>
        @using (Html.BeginForm("FilterProduct", "Home"))
        {
            int i = 0;
            foreach (var fname in Model)
            {
                <ul>
                    @fname.Name
                    @foreach (var fvalue in fname.Children)
                    {
                        i++;
                        var id = $"f{i}";
                        <li>
                            <div class="checkbox checkbox-success checkbox-sm">
                                <input type="checkbox" class="styled" value="@fvalue.Id" name="idvalues" id="@id" />
                                <label for="@id">
                                    <span style="font-size:14pt; position: absolute; margin-top:-10px;">@fvalue.Name</span>
                                </label>
                            </div>
                        </li>
                    }
                </ul>
            }
            <input type="submit" value="застосувати фільтр" class="btn btn-success form-control" />
            <p></p>
        }
        <button id="filter" class="btn btn-info form-control" style="width:280px">фільтр без оновлення</button>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>

    @section Scripts{
        <script>
            $(function () {
                $("#filter").on("click", function () {
                    let listIdCheck = document.getElementsByName("idvalues");
                    alert(listIdCheck.length);
                    //let listIdCheck = $(":checked");
                
                    let arr = [];
                    //arr.push
                    alert(arr.length);
                    let ftr = null;

                    for (let i = 0; i < listIdCheck.length; i++) {
                        $(listIdCheck[i]).on("change", function () {
                            alert(i);
                            alert(this.parentNode.lastElementChild.lastElementChild.textContent);

                        });
                        //    alert(i);
                        //    //arr.push(ftr);
                        //});
                        //if (listIdCheck[i].checked) {
                        //ftr = {
                        //    id: listIdCheck[i].getAttribute("value"),
                        //    name: this.parentNode.lastElementChild.lastElementChild.textContent
                        //};
                        //arr[i] = ftr;

                        //alert(arr.length);
                        
                    }
                    
                    
                    //for (let i = 0; i < listIdCheck.length; i++) {
                    //    let listAttr = listIdCheck[i].getAttribute("value");
                    //    alert(listAttr);
                    //    //arr[i] = listAttr;
                    //    //alert(arr[i]);
                    //}

                //    $.post("/Home/FilterProduct",
                //        listIdCheck,
                //        function (data) {
                //            alert(data);
                //        });
                    //alert(listIdCheck.length);
                    
                    //alert(1);

                });
            })
        </script>
        }
</div>